/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family:Liberation;
  color: #0a0829;
  background-color: rgba(244, 244, 245, 0.875);
}

a {
  color: #240c82;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  color: #130636;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #13042c;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #f3f1f7;
  line-height: 0;
}
.back-to-top:hover {
  background: #5797e1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #0a0829;
  box-shadow: 0px 2px 20px rgba(7, 79, 112, 0.873);
  border-bottom-width: 1px;
}


#header .logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c3c6c9;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #a2abb1;
  text-decoration: none;
}
#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  margin: 0 0 0 30px;
}
.header-social-links a {
  color: #9ba6af;
  padding-left: 8px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
}
.header-social-links a i {
  line-height: 0;
}
.header-social-links a:hover {
  color: #3498db;
}
@media (max-width: 768px) {
  .header-social-links {
    margin: 0 15px 0 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #a2a9ad;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #3498db;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #21262a;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #3498db;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #c2c5c7;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #384046;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #3498db;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  max-height: 350px;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 25px;
  box-shadow: 0px 2px 12px black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
#hero:before {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#hero .container {
  z-index: 2;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h1 span {
  border-bottom: 4px solid #0a0829;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #0a0829;
  text-transform: uppercase;
  border-radius: 30px;
}
#hero .btn-get-started:hover {
  background: #4ea5e0;
}
@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  border-color: #000;
  margin-top:10px;
}


/**----------------------------------------------------------------
FILIERE
*/

.block-filiere{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 2px 5px #0a0829;
  padding: 10px;
  margin-bottom: 10px;
}

.block-filiere:hover{
  background-color: #04042774;
}

.block-filiere ul li a, li{
  color: rgb(3, 3, 27);
}

.block-filiere h6{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #0a0829;
}

.block-filiere .filiere-item{
  color: #0a0829;
}


.block-filiere a:hover{
  color: darkblue;
}
.detail-img{
  height:567px;
  width: 995px;
}

.block-filiere h4{
  color: #070332;
}

.block-filiere p{
  text-align: justify;
  margin: 10px;
  text-indent: 30px;
  margin-bottom: 15px;

}

.block-filiere h3{
  color: #020215;
  background-color: #02021560;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: solid #020215;
}

.block-filiere niv{
  font-size: 20px;
  color: #040427;
  font-weight: bold;
  font-style: italic;
}

p ul li{
  margin-bottom: 15px;
  text-align: justify;
}


.block-link{
  background-color: rgba(28, 9, 70, 0.349);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgb(3, 3, 30);

}

h1, h2, h3, h4, h5, h6{
  font-family: Liberation serif;
  font-weight: bold;
}


.block-filiere .bg-dossier:before {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.block-filiere fieldset{
  border:solid rgb(1, 1, 23);
}

.block-filiere fieldset ul{
  font-size: 18px;
}



/*--------------------------------------------------------------
# objectifs( Objectifs
--------------------------------------------------------------*/
.objectifs .icon-box {
  border-radius: 6px;
  transition: ease-in-out 0.3s;
}
.objectifs .icon-box i {
  float: left;
  color: #040427;
  font-size: 40px;
  line-height: 0;
}
.objectifs .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.objectifs .icon-box h4 a {
  color: #384046;
  transition: 0.3s;
}
.objectifs .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}
.objectifs .icon-box:hover {
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
}
.objectifs .icon-box:hover h4 a {
  color: #3498db;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 0;
  padding: 10px;
}
.portfolio-details .portfolio-details-slider img {
  max-width: 100%;
  max-height: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(56, 64, 70, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*==========Apropos-personnel==============*/
#personnel .personnel-item{
  box-shadow: 0px 2px 5px black;
  margin-bottom: 15px;
}

/**===========================================================
/*--------------------------------------------------------------
# albums
--------------------------------------------------------------*/
.album.albums-carousel, .album.albums-slider {
  overflow: hidden;
  padding: 10px;
}
.album-item {
  box-sizing: content-box;
  text-align: center;
  max-height: 350px;
  box-shadow: 0px 2px 5px black;
  margin: 10px;
}
.album-item img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 350px;
}

.album-item p{
  padding: 10px;
  text-align: center;
  color: #0a0425;
}


/*--------------------------------------------------------------
# Contacts
--------------------------------------------------------------*/
.contact .info-wrap {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px black;
  margin-bottom: 20px;
}
.contact .info i {
  font-size: 20px;
  color: #070332;
  float: left;
  width: 44px;
  height: 44px;
  background: #0b011a44;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #384046;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #65747f;
}
.contact .info:hover i {
  background: #3498db;
  color: #fff;
}



/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 40px 0;
  margin-top: 70px;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: bold;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4f5a62;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #0a0829;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background:#0a0829;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3498db;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3498db;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #b6daf2;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3498db;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #57aae1;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #f0eff3;
  color: #0a0425;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #5faee3;
  color: #fff;
  text-decoration: none;
}